@charset "utf-8";
@font-face{
    font-family:'youth'; font-style:noraml;
    src:url("./font/youth.eot")format('opentype');
    src:url("./font/youth.ttf")format('truetype');
    src:url("/font/youth.woff")format('woff');}

