@charset "utf-8";
*{margin: 0;padding: 0;outline: 0;border: 0;text-decoration: none;
    list-style: none;background-color: transparent;vertical-align: baseline;letter-spacing: -0.6px;}
html,body{width: 100%;height: 100%;}
#hd,.container,#ft{clear: both;}
/*header*/
#hd{height: 100px;}
.logo{display: block;font-size: 30px;font-weight: bold;padding: 50px;width: 25%;}
.logo span{color:#800000;font-family: 'Noto Sans KR', sans-serif;}
#gnb{display: block;float: right;}
#gnb a{color: #000;}


/*content*/
video{width: 100%;}
#page2{position: relative;}
.content_fr{position: relative;height: 1000px;background-image: url("./img/bg2.jpg");}
.col1{border : 1px solid transparent;background-image: url("./img/img2.jpg");height: 400px;width: 400px;float: left;position: absolute;top: 50%;left: 10%;background-position: center center;}
.col2{border : 1px solid transparent;background-image: url("./img/img1.jpg");height: 400px;width: 400px;float: left;position: absolute;top: 50%;left: 40%;background-position: center center;}
.col3{border : 1px solid transparent;background-image: url("./img/img3.jpg");height: 400px;width: 400px;float: left;position: absolute;top: 50%;left: 70%;background-position: center center;}
.col_tit{text-align: center;margin: 30% auto;color: #fff;visibility: hidden;}
.col_com{text-align: center;margin-top:-20%;color: #fff;visibility: hidden;}
.col:hover{opacity: 0.6;cursor: pointer;background: #000;}
.col:hover .col_tit{border-bottom: 2px solid #fff;width:200px;visibility: visible;}
.col:hover .col_com{visibility: visible;}

#page3{height: 800px;background-image: url("./img/bg1.jpg");background-size: cover;}
.btn_menu_fr{height: 100px;display: block;float: left;}



/*footer*/
#ft{clear: both;background-color: #333;height: 50px;opacity: 0.8;}
.copy{text-align: center;margin: 0 auto;line-height: 50px;}
