@charset "utf-8";
*{margin: 0;padding: 0;font-family: 'Nanum Myeongjo', serif;}
body,html{width: 100%;height: 100%;background-image: url("../img/bg.jpg")}
ul{list-style: none;}
a{text-decoration: none;color: #333;font-weight: bold;}

.hd{width: 100%;clear: both;}
.h_logo{display: block;width: 300px;height: 200px;margin-left: 800px;}
/*#tnb{display: block;float: left;}*/
.t_menu{display: block; float: right;margin: auto; line-height: 20px;margin-bottom: 25px;}
.it1,.it2{display: block;width: 100px;height: 50px;float: left;}
.it a {color: #333;font-weight: bold;font-size: 15px;}
.it a:hover{color: saddlebrown;}
#gnb{width: 100%;height: 100%;}
.m_menu{display: block; width: 1200px;height: 100px;float: left;font-size: 20px;margin-top: 25px;margin-left: 250px;}
.main{display: block;float: left;margin: auto;line-height: 10px;margin-left: 200px;margin-top: 50px;}
.main a{color: #333; font-weight: bold;}
.main a:hover{color: saddlebrown;}

.content{width: 1200px;clear: both;}
.c_tit{display: block;float: left;width: 500px;margin-left: 850px;margin-top: 50px;line-height: 10em;font-weight: 600;font-size: 25px;}
.c_con{text-align: center;float: left;width:600px;margin-left: 600px;font-size: 16px;font-weight: 500;border: 3px solid 
transparent;padding: 50px;background-image: url("../img/2.jpg");color: white;line-height: 40px;}

.map1{display: block;float: right;border-color: transparent;background-image: url("../img/3.jpg");padding: 50px;margin-right: -200px;}

.c_wrap{clear: both;position: relative;width: 1200px;}
.ra{display: none;}

.btn{display: block;float: left;margin-left: 700px;width: 600px;}
.btn .rab1{display: block;border: 1px solid #333;width: 100px;text-align: center;float: left;margin-left: 20px;padding: 10px;}
.btn .rab2{display: block;border: 1px solid #333;width: 100px;text-align: center;float: left;padding: 10px;}
.btn .rab3{display: block;border: 1px solid #333;width: 100px;text-align: center;float: left;padding: 10px;}

#rdo1:checked ~ .btn .rab1{background: tan;color: saddlebrown;font-weight: bold;}
#rdo2:checked ~ .btn .rab2{background: tan;color: saddlebrown;font-weight: bold;}
#rdo3:checked ~ .btn .rab3{background: tan;color: saddlebrown;font-weight: bold;}

.col{clear: both;width: 800px;margin: 0 auto;}
.col li{ clear: both;width: 800px;margin: 0 auto;position: relative;display: none;}
#rdo1:checked ~ .content .it1{display: block;}
#rdo2:checked ~ .content .it2{display: block;}
#rdo3:checked ~ .content .it3{display: block;}

.con{text-align: center;width: 800px;margin-left: 300px;margin-top: 20px;border: 1px solid transparent;background-image: url("../img/2.jpg");padding: 40px;color: #fff;font-weight: 600;font-size: 16px;}


.ft{clear: both;}
.foot{margin-top: 300px;}
.flogo{display: block;width: 184px;margin-left: 850px;}
.cp{text-align: center;font-weight: 600;color: #666;margin-bottom: 25px;}

